body{
    margin: 0;
}
@font-face {
    font-family: solaiman;
    src: url('../../../fonts/SolaimanLipi_20-04-07.woff') format('woff');
}
@font-face {
    font-family: potro;
    src: url('../../../fonts/PotroSansBangla-Regular.woff') format('woff');
}
@font-face {
    font-family: roboto;
    src: url('../../../fonts/Roboto-Bold.woff') format('woff');
}
.top{
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    color: rgb(0, 0, 0);
}
.logo{
    width: 16%;
    position:absolute;
    left: 20px;
    top: 25px;
}
.logo img{
    float:left;
    width:80px;
}
.top .logo h1{
    font-family: solaiman;
    font-size: 21px;
    padding-top: 22px;
    padding-right: 7px;
    overflow:hidden;
}
.top{
    color: rgb(22, 78, 80);
}
.top h3{
    font-family: solaiman;
    font-size: 23px;
    padding-top: 10px;
}
.top h4{
    font-family: potro;
    font-size: 30px;
    margin: 12px 0;
}
.ayat{
    width: 10%;
    border: 7px double rgb(9, 112, 9);
    border-style:groove;
    border-radius: 8px; 
    background-color: rgb(107, 81, 47);
    color:#fff;
    position:absolute;
    right: 70px;
    top:30px;
}
.ayat h2{
    font-size: 29px;
    margin: 5px 6px;
    text-align: center;
}
.main-menu{
    background-color: rgb(236, 134, 2);
    font-family: solaiman;
    font-size: 20px;
}
.main-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-menu ul li{
    float: left;
}
.main-menu::after {
    content: '';
    display: block;
    clear: both;
}
.main-menu ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    position:relative;
    left:288px
}
.main-menu ul li a:hover{
    background-color: rgb(16, 72, 74);
}
.main-content{
    background-color: rgb(118, 246, 255);
    overflow: hidden;
}
.para-one{
    height: 250px;
    width: 500px;
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 80px;
    font-family:potro;
    color: rgb(255, 255, 255);
    border: 10px groove greenyellow;
}
.comment-box{
    width: 30%;
    margin: 25px auto;  
    padding: 15px 0;
    text-align: center;
    background-color: green;
    border-radius: 5px;
    color: white;
    overflow: hidden;
}
.comment-box .contact-form form input{
    width: 90%;
    font-size: 17px;
    margin: 3px;
    overflow: hidden;
}
.comment-box .contact-form .submit-batton input{
    background-color: blue;
    color: #f7d794;
    border-radius: 7px;
}

.fotter{
    height: 200px;
    background-color: #222f3e;
    overflow: hidden;
    position: relative;
}
.icon-link{
    width: 160px;
    margin:auto;
    overflow: hidden;
}
.icon-link a{
    color: azure;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.icon-link h4 i{
    font-size: 19px;
    color: aqua;
    padding-right: 2px;
}
.deginer{
    width: 180px;
    text-align: center;
    background-color: rgba(37, 185, 81,0.4);
    padding:0 2px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    left: 83%;
    bottom: 50px;
}
.deginer .tit{ 
    width: 107px;
    border-bottom: 4px double wheat;
    margin:0 auto;
    padding-top: 4px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
.name h4{
    margin: 5px auto;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #deb356;
}
.name abbr{
    margin-bottom: 3px;
    color: rgb(118, 205, 208);
}